@import "../../../../styles.scss";

h2 {
  color: $color-main-3;
}

.desc {
  margin-top: 4rem;
  margin-bottom: 4rem;

  p {
    font-size: 2.3rem;
    line-height: 1.8;
    letter-spacing: .7;
    word-spacing: 1.2;
  }

  mat-icon {
    vertical-align: top;
    font-size: 3rem;
  }

  ol {
    padding-left: 3rem;

    li {
      padding-left: 1.5rem;
      font-size: 1.8rem;
      line-height: 1.5;
      letter-spacing: .5px;
    }
  }
}
